body {
    background-color:#eee;
    font-family: 'Inter', sans-serif;
}

nav {
    position:fixed;
    left:0;
    top:0;

    width:100%;
    height:auto;
    background-color:var(--secondary-color);
}

nav ul {
    display: flex;
    list-style:none;
    justify-content: flex-end;
}

nav ul li {
    margin:0 0.25rem;
}

nav ul li a {
    padding:1rem 0.85rem;
    color:#fff;
    font-weight: bold;
}

section {
    max-width:80rem;
    margin:6.5rem auto;
    padding:0 1rem;

    display: flex;
    flex-wrap: wrap;
}

section article {
    font-weight: 400;
    width: 50%;
    background-color:#fff;
    padding:3.5rem;
}

@media (max-width:60rem) {
    section article {
        width:100%;
    }
}

section article .article__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
    height:100%;
}

section  article .article__inner h1 {
    font-size: 1.5rem;
}

section  article .article__inner button {
    align-self:flex-end;
    font-weight: 700;
    display: block;
    cursor: pointer;
    border:0;
    border:0;
    background:transparent;
    border:2px solid var(--secondary-color);
    padding:0.85rem 0.65rem;
 }